@import '../../public/styles/variables';

.list {
  display: flex;
  justify-content: center;
  list-style: none;

  &__item {
    margin: 0 .5rem;
    padding: .5rem 0rem;
    display: flex;
    justify-content: center;
    align-items: center;
    
    & svg {
      cursor: pointer;
      fill: #fff;

      &:hover {
        fill: hotpink;
        transform: scale(1.1);
        transition-duration: .2s;
      }
    }
  }
}