.avatar {
  border-radius: 50%;
  cursor: pointer;
}

.avatarWrapper {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  padding: 2px;
  background: linear-gradient(to right top, hotpink, coral);
}