.post {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	padding: 0 10rem;
}

.post h2 {
	font-size: 1.7rem;
}

.text {
	
}

.text p {
	text-align: justify;
}

.date {
	width: 100%;
	display: flex;
	justify-content: end;
}

/* When the browser is at least 600px and above */
@media screen and (max-width: 600px) {
  .post {
		padding: 0 1rem;
	}
}