// Fonts
$fontThin: "FiraSansThin";
$fontLight: "FiraSansLight";
$fontRegular: "FiraSansRegular";
$fontMedium: "FiraSansMedium";
$fontBold: "FiraSansBold";

// Gradient
$gradient1: #4aff7d;
$gradient2: #69f0ff;
$gradient3: #3152f5;

// Dark theme colors
$dark-bg-primary: #141318;
$dark-bg-secondary: #222126;
$dark-color: #eee;

// Light theme colors
$light-bg: #fff;
$light-color: #2e2e2e;